


{% extends 'firstapp/base.html' %}

{% block content %}
<!-- <a href="{% url 'firstapp:add' %}"><button type="submit">Add New</button> </a> -->

    <article class="post">
        <time class="date">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">question Name</th>
                        </tr>
                  
                </thead>
                <tbody>
                    {% for post in question_list %}
                  <tr>
                    <th scope="row">{{ post.id }}</th>
                    <td><a href="{% url 'firstapp:detail' post.id %}">{{post.question_text }}</a></td>
                    
                    <td><a href="{% url 'firstapp:delete' post.id %}" ><button type="submit">Delete</button></a></td>
                    <td><a href="{% url 'firstapp:update' post.id %}"><button type="submit">Update</button></a></td>
                </tr>
                {% endfor %}
                  
                </tbody>
              </table>
        </time>
        
    </article>
</br>


{% endblock %}